@model Delegation.Models.ViewModels.BusinessTripViewModel


<div>liczba delegacji: @Model.BusinessTrips.Count()</div>
@foreach(var trip in Model.BusinessTrips)
{
    <div>
        <h3>ID: @trip.BusinessTripID</h3>
        <h4>Karta kilometrowa: @trip.KilometersCard</h4>
        <h4>Cel wyjazdu: @trip.Destination</h4>
        <h4>Nr tematu @trip.Project</h4>
    </div>
}
<div page-model="@Model.PagingInfo"></div>