@model BusinessTripViewModel


<div>liczba delegacji: @Model.BusinessTrips.Count()</div>

<table class="table table-striped table-bordered table-sm">
    <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Temat</th>
        <th class="text-center">Cel wyjazdu</th>
        <th></th>
    </tr>

    @foreach (var item in @Model.BusinessTrips)
    {
        <tr>
            <td class="text-rigth mr-2">@item.BusinessTripID</td>
            <td class="text-center">@item.Project.Symbol</td>
            <td class="text-center">@item.Destination.Name</td>
            <td class="text-center">
                <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-productId="@item.BusinessTripID">
                        Edit
                    </a>
            </td>
        </tr>
    }
</table>

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn secondary"
     page-class-selected="btn btn-primary" class="btn-group pull-right m-1">
</div>